h1 {
    text-align: center;
    color: steelblue;
}

.flex-conteiner {
    width: 500px;
    height: 300px;
    background-color: lightblue;
    margin: auto;
    display: flex; 
    /*Creado un contexto para flexbox, los hijos del elemento se converten en flexibles y   */
    /*automaticamente aparecen 2 ejes (main axis horizontal y cross axis - vertical)*/
    /*flex-direction: column;*/ /*mi eje principal se cambia a vertical, por defecto es row*/

}

.flex-item {
    background: tomato;
    color: white;
    width: 100px;
    height: 100px;
}

.flex-item:nth-child(odd){
    background: teal;
    color: white;
}

footer {
    padding-top: 3rem;
    text-align: center;
}