body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  background: steelblue;
  display: none;

}

@media screen and (min-width: 768px) {
  .menu {
  display: flex;
  }
  li {
    text-align: center;
    border-right: 1px solid;

  }
  a {
    padding-left: 0;
  }


}



.menu a {
  color: #eee;
  text-decoration: none;
  line-height: 3;
  display: block;
  padding-left: 1em;
  font-weight: bold;
  font-size: .9em;

}
.menu a:last-child {
border-right: none;

}

.menu a:hover {
background: black;

}

.menu li {
  flex: auto;
  border-bottom: 1px solid;
}

#toggle-menu {
  background: slateblue;
  line-height: 2.5;
  color: #fff;
  padding-left: 1em;
  font-size: .9em;
  cursor: pointer;
}

