body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: white;
}

h1 {
    text-align: center;
    color: steelblue;
}

.container {
    width: 90%;
    height: 500px;
    background: lightblue;
    margin: auto;
    display: flex;
/* flex-wrap: wrap; */
    /* flex-direction: column; */
}

.item {
    background: teal;
    /* flex-basis: 25%; 
    flex-shrink: 1;
    margin:10px; */
    /* margin: 10px; */
    /* flex-grow: 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.item:nth-child(even) {
    background: steelblue;
}
.item:nth-child(1){
    /*flex-basis: 200px;
    flex-grow: 0;*/ /*Nunca va a crecer*/
    flex: 25;
}
.item:nth-child(2){
    /* flex-grow: 2; */
    /* flex-grow: 1;  */
    /* flex-shrink: 2; */
    flex: 20;

}
.item:nth-child(3){
    /* flex-grow: 2; */
    /* flex-grow: 1;  */
    /* flex-shrink: 2; */
    flex: 45;

}
.item:nth-child(4){
    /* flex-grow: 2; */
    /* flex-grow: 1;  */
    /* flex-shrink: 2; */
    flex: 10;

}

footer {
    padding-top: 3rem;
    text-align: center;
}